@import url('../../index.css');



/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "image clubinfo";
} */

.calenderContainer button {
    background-color: var(--tealTheme);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 150px;
}

.calenderContainer button:hover {
    background-color: var(--tealHover);
}

.imageDiv {
    width: 597px;
    height: 350px;
    overflow-x:hidden;
    overflow-y:hidden;
}

.clubInfoContainer {
    display: flex;
    justify-content: center;
}

.clubinfo {
    display: flex;
    flex-direction: column;
}

.clubInfoContainer > * {
    margin: 0 45px;
}

.clubImage {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.541);
}
.joinButton {
    height: 40px;
    width: 150px;
    border: none;
    /* margin-bottom: 10px; */
    border-radius: 20px;
    background-color: var(--coralTheme);
    font-size: 17px;
    font-weight: bold;
    color: white;
}
.joinButton:hover {
    cursor: pointer;
    background-color: #d65858;
}
.clubName {
    font-weight: 1000;
    font-size: 40px;
    margin-bottom: 0;
}

.hostName {
    font-weight: 400;
}

.editButton, .deleteButton {
    height: 40px;
    width: 120px;
    margin-right: 10px;
    border: none;
    border-radius: 12px;
    background-color: var(--tealTheme);
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.editButton:hover, .deleteButton:hover {
    background-color: var(--tealHover);
    cursor: pointer;
}

.eventCardsContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    grid-area: events;
}
.eventsAndCalender{
    background-color:#EBEBEB ;
    min-height: 1280px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "events calender";
}
.TitleAndEventModalContainer{
    padding-top:50px ;
    padding-right: 200px;
    padding-left:200px;
    background-color:#EBEBEB ;
    display: grid;
    grid-template-columns: 800px auto;
    grid-template-areas: "titleAndModal";

}

.TitleAndEventModal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: titleAndModal;
}

.title{
    font-weight: 600;
    font-size: 25px;
}
.calenderContainer{
    grid-area: calender;
}
.calenderContainer{
    margin-top: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    width: 809px;
    height: 1030px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.233);
}

.monthlyCalender {
    width: 609px;
    height: 418px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.233);
}


div.rc-h-48.rc-p-2.rc-border-r-2 {
        height: 5rem;
}
