/* Entire form container */
@import url('../../../index.css');


.signup__form__entire__container {
    margin: 50px auto 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.233);
    width: 500px;
    padding: 25px 0;
}

.login__no__account__demo {
    color: var(--linkButton);
}
.login__no__account__demo span {
    font-weight: bold;
    color: var(--tealTheme);
}

.signup__errors__container {
    /* position: fixed;
    margin-top: 100px;
    margin-right: 900px;
    height: 100px;
    width: 300px;
    font-size: 17px;
    font-weight: bold;
    color: var(--coralTheme); */
    padding-bottom: 15px;
}

.errors {
    text-align: center;
    color: var(--coralTheme);
    font-weight: 400;
}

/* Signup heading */

.signup__heading {
    color: var(--tealTheme);
    margin-top: 0;
}

/* Signup inputs */

.signup__username, .signup__email, .signup__password, .signup__confirm__password {
    border-radius: 2px;
    text-indent: 5px;
    width: 250px;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}

.signup__school{
    border-radius: 2px;
    text-indent: 5px;
    width: 250px;
    height: 45px;
    margin-bottom: 10px;
    border: none;
}

.signup__image {
    background-color: inherit;
    height: inherit;
    width: inherit;
    margin-bottom: 13px;
}

.profileImgLabel {
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
}

/* Signup submit button */

.signup__submit{
    margin-top: 10px;

}

/* Signup footer links */

.signup__login {
    font-weight: bold;
    color: var(--tealTheme)
}

.signup__login:hover {
    color: var(--tealHover)
}

a.login__create__here:hover {
    color: var(--tealHover);
}

.login__create__here:visited {
    color: var(--tealTheme);
}

.login__create__here {
    font-size: 17px;
    color: var(--tealTheme);
    text-decoration: none;
    font-weight: bold;
}
