.signup__form__entire__container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    height: 450px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 12px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.233);
}

.signup__heading {
    color: var(--tealTheme)
}
.signup__form__container {

}

.signup__errors__container {
    position: fixed;
}


.signup__password__container {

}

.signup__username, .signup__email, .signup__password, .signup__confirm__password {
    border-radius: 2px;
    text-indent: 5px;
    width: 250px;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}

.signup__submit{
    margin-top: 10px;
    width: 150px;
    height: 45px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: var(--tealTheme)
}

.signup__submit:hover {
    background-color: var(--tealHover)
}

.signup__login {
    font-weight: bold;
    color: var(--tealTheme)
}

.signup__login:hover {
    color: var(--tealHover)
}
