@import '../../index.css';


.ClubsCardDiv {
    width: 592px;
    height: 166px;
    background-color: white;
    /* display: grid; */
    display: flex;
    /* grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "ClubsCardImg ClubsCardContent"; */
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.233);
    overflow-x:hidden;
    overflow-y:hidden;
    margin: 20px 0;
    /* margin: 30px 48px; */
}

.clubImgDiv {
    width: 296px;
    height: 166px;
}

.ClubsCardImg{
    /* grid-area:ClubsCardImg; */
    width: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

.ClubsCardContent{
    margin-top: 25px;
    margin-bottom: 25px;
    grid-area:ClubsCardContent;
}

.clubName{
    font-family:"Lato";
    font-size: 30px;
    color: #454545;
    margin: 20px 30px 0px 30px;
}

.clubDescription {
    font-family:"Lato";
    font-size: 20px;
    color: #454545;
    margin: 22px 30px 30px 30px;
}
