.club_button{
    margin-top: 10px;
    width: 180px;
    height: 53px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: var(--tealTheme);
}

.club_button:hover{
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: var(--tealHover);
}

.club__form__heading {
    color: var(--tealTheme);
}

.club__heading_container{
margin-left:25px;
}

.club__name{
    border-radius: 2px;
    text-indent: 5px;
    width: 250px;
    height: 35px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}

.club__description{
    border-radius: 2px;
    text-indent: 5px;
    width: 250px;
    height: 75px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}

.calendar_div > *{
    width: 100%;
}

.calendar_input{
    border-radius: 2px;
    text-indent: 5px;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}
