.calendar_div > *{
    width: 100%;
}

.calendar_input{
    border-radius: 2px;
    text-indent: 5px;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}

.club_button {
    position: absolute;
    top: 50px; 
}
