@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.navBar{
    margin: 0;
    padding:0;
    display: block;
    width: 100%;
}

.topDiv{
    margin: 0;
    padding:0;
    width: 100%;
}
.outerContainer{
    width: 100%;
    height: 100%;
    background-color: #FAF6EF;
    /* background-color: black; */
    padding: 144px;
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-areas:
    "text . picture";
}

.title{
    font-family: "Playfair";
    font-size:120px;
    color: #002F43;
    padding-top: 30px;

}

.content{
    font-size: 40px;
    font-family: "Lato";
    color:#0098AB;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text{
    grid-area: text;
}

.picture{
    grid-area: picture;
}

.startButton{
    height: 73px;
    width: 286px;
    background-color: #FA6666;
    border: none;
    border-radius: 50px;
    font-family: "Lato";
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 10px;
}

.bottomBar{

    width: 100%;
    height: 180px;
    background-color:#002F43;
}
