@import '../../index.css';


.navbar {
    background-color: white;
    height: 65px;
    font-weight: 700;
}

.navbarUl {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
    align-items: center;
}

.navbarUl > * {
    margin: 0 30px;
    width: 180px;
}

.loginSignupDiv {
    display: flex;
    justify-content: space-between;
}

.profile_btn{
position: absolute;
margin-left:20px;
background-color:white;
background: url('../../images/honey-bee.png') no-repeat center;
background-size: cover;
border-radius: 20px;
border:1px solid lightgrey;
box-shadow: 0 20px 48px rgb(0 0 0 / 20%);
height:45px;
width:45px;
right:5em;
top:1em;
}

.profileImg {
    position: absolute;
    /* margin-left:20px; */
    background-size: cover;
    border-radius: 20px;
    border:1px solid lightgrey;
    height:45px;
    width:45px;
    right:4.5em;
    top:1em;
}

.profileImg:hover{
    cursor:pointer;
}

.profile_btn:hover{
    cursor:pointer;
}

.profile_dropdown{
    position: absolute;
    right:4.5em;
    top:3.75em;
    border:1px solid lightgrey;
    box-shadow: 0px 5px 6px rgb(0 0 0 / 23%);
    background-color: white;
    border-radius: 8px;
    padding:15px;
    font-family: 'Lato';
    z-index:999999;
}


.user_info{
    padding-bottom: 7px;
    color:black;
}

.bee{
    height:40px;
}

.logo{
    height: 40px;
}
