@import '../../index.css';


.clubsPageContainer {
    margin-top: 50px;
}

.clubsTopTwoLine {
    margin: 30px 105px;
}

.clubCardContainer{
    padding: 20px 85px;
    width: 2050px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    z-index: 300000;
}

.clubPageSearch{
    width: 225px;
    height: 32px;
    border-radius: 50px;
    padding: 0px 50px 0px 25px;
    font-size: 16px;
    border: 0.5px solid #BDBDBD;
}

.clubPageSearch:focus {
    transition: all 0.3s ease-in-out 0s;
    outline: none;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.281);
}

::placeholder {
    color: #3B2029;
    font-family: "Lato";
}

.clubTitle{
    margin-bottom: 50px;
}

.title {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 35px;
    color: #454545;
    margin: 0;
}

.schoolName {
    /* font-family: "Playfair Display"; */
    font-weight: 600;
    font-size: 27px;
    color: #454545;
    margin: 0;
    padding-top: 10px;
}

.clubsFirstContainer{
    display: flex;
    justify-content: space-between;
}

.backgroundImgDiv {
    width: 100%;
}

.homeBackground{
    position: fixed;
    top:0;
    margin-top: 65px;
    overflow:hidden;
    z-index: -1000000000;
    width: 100vw;
}
.clubsFirstContainerRight{
    display: flex;
    align-items: center;
}
.categorySelect{
    border:none;
    border-bottom: 2px solid var(--tealTheme);
    height: 32px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Lato";
    font-size: 16px;
    margin-right: 30px;
    color:#454545;
}
.searchBarContainer{
    position: relative;
}
.searchIcon{
    position:absolute;
    top:20%;
    right:5%;
    font-size: 16px;
    color:#3B2029;
}

a.club__name__link:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 1700px) {

    .clubCardContainer{
        width:1700px;
    }
}

@media only screen and (max-width: 1150px) {

    .clubCardContainer{
        width:800px;

    }

}


@media only screen and (max-width: 940px) {

    .clubCardContainer{
        width:800px;

    }

    .categorySelect{
        border:none;
        border-bottom: 2px solid var(--tealTheme);
        height: 48px;
        width: 150px;
        background-color: rgba(255, 255, 255, 0);
        font-family: "Lato";
        font-size: 15px;
        margin-right: 30px;
        color:#454545;
    }

    .clubPageSearch{
        width: 150px;
        height: 45px;
        border-radius: 50px;
        padding: 0px 50px 0px 25px;
        font-size: 15px;
        border: 0.5px solid #BDBDBD;
    }

}
