.editFormContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
    width: 350px;
    height: 300px;
}

.editForm {
    display: flex;
    flex-direction: column;
    color: white;
}

.submitEditButton {
    height: 45px;
    width: 173px;
}
