.profileEditButton {
    border: 2px solid var(--coralTheme);
    color: var(--coralTheme);
    background-color: white;
    height: 45px;
    border-radius: 20px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
}
.profileEditButton:hover {
    /* font-weight: bold; */
    transition: all 0.4s ease 0s;
    cursor: pointer;
    color: white;
    background-color: var(--coralTheme);
}

.user__form__heading{
    margin-left: 40px;
    color: var(--tealTheme);
}

.signup__errors__container {

    padding-bottom: 15px;
}

.errors {
    text-align: center;
    color: var(--coralTheme);
    font-weight: 400;
}

/* Signup heading */



/* Signup inputs */

.signup__username, .signup__email, .signup__password, .signup__confirm__password {
    border-radius: 2px;
    text-indent: 5px;
    width: 250px;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}

.signup__school{
    border-radius: 2px;
    text-indent: 5px;
    width: 250px;
    height: 45px;
    margin-bottom: 10px;
    border: none;

}

/* Signup submit button */

.signup__submit{
    margin-top: 10px;
}

.user_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__form__heading{
    margin-left:0px;
}
