#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    display:flex;
    position: absolute;
    background-color:white;
    width:500px;
    height:500px;
    border-radius: 8px;
    box-shadow: 0 20px 48px rgb(0 0 0 / 15%);
    padding: 10px;
    padding-top:70px;
    justify-content: center;
    align-items: center;
    padding-bottom:6em;
  }
