@import url('../../index.css');

.outerContainer{
    width:794px;
    height: 383px;
    background-color: white;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.233);
    padding:60px ;
    margin: 50px 80px 50px 200px;
}

.timeStampMiddle {
    color: #727272;
}

.content{
    overflow-x:hidden;
    overflow-y:hidden;
}
.eventDate{
    color: #0098AB;
    font-size: 25px;
    font-weight: 600;
}
.eventLocation{
    margin-top: 15px;
    color: #727272;
    font-size: 25px;
}

.eventName{
    margin-top: 15px;
    color: #191919;
    font-size: 27px;
    font-weight: 600;
}
.eventDescription{
    margin-top:15px;
    color: #727272;
    font-size: 25px;
    font-weight: 600;
}

.buttonGroup{
    margin-top: 40px;
    display: flex;
    justify-content:flex-end;

}
/* .editButton, .attendButton{
    width: 111px;
    height: 45px;
    border-radius: 12px;
    border:1px solid var(--tealTheme);
    background-color: white;
    margin-left: 20px;
    font-weight: bold;
}

.editButton:hover, .attendButton:hover{
    cursor: pointer;
    transition: all 0.4s ease 0s;
    border: none;
    background-color: #0098AB;
    color: white;
} */

.attendButton {
    margin-left: 10px;
}
