@import url('https://fonts.googleapis.com/css?family=Lato:light,regular,bold,black');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:medium,black');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato';
    font-weight: 300;
    overflow-y: scroll;
}

#root {
    position: relative;
    min-height: 100vh;
}

main{
    width: 100%;
    min-height: 800px;
    z-index: -1000000;
}


a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.link-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.cta_button{
    width: 150px;
    height: 45px;
    border-radius: 35px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: var(--tealTheme);
}

.cta_button:hover{
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: var(--tealHover);
}

.cta_button_empty {
    width: 150px;
    height: 45px;
    border-radius: 35px;
    border: 1px solid var(--tealTheme);
    font-weight: bold;
    font-size: 18px;
    color: var(--tealTheme);
    background-color: transparent;
}

.cta_button_empty:hover{
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    background-color: var(--tealTheme);
}

.cta_button_coral{
    width: 150px;
    height: 45px;
    border-radius: 35px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: var(--coralTheme);
}

.cta_button_coral:hover{
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: var(--coralHover);
}

.cta_button_coral_empty {
    width: 150px;
    height: 45px;
    border-radius: 35px;
    border: 1px solid var(--coralTheme);
    font-weight: bold;
    font-size: 18px;
    color: var(--coralTheme);
    background-color: transparent;
}

.cta_button_coral_empty:hover {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    background-color: var(--coralTheme);
}

.cta_button_danger {
    width: 150px;
    height: 45px;
    border-radius: 35px;
    border: 2px solid #d40f0f;
    font-weight: bold;
    font-size: 18px;
    color: #d40f0f;
    background-color: transparent;
}

.cta_button_danger:hover{
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    background-color: #d40f0f;
}
