@import url('../../../index.css');

body {
    background-color: #FAFAFA;
}

/* The outermost <form> element and errors container */

.login__form__container {
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.233);
    width: 500px;
    padding-bottom: 50px;
}

.login__form {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login__form__heading {
    color: var(--tealTheme);
    text-align: center;

}

.login__errors__container {
    padding-bottom: 15px;
}

.inner__errors__error {
    text-align: center;
    color: var(--coralTheme);
    font-weight: 400;
}

/* The login email & password input */

.login__email, .login__password {
    border-radius: 2px;
    text-indent: 5px;
    width: 250px;
    height: 45px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}

/* The login submit button and text underneath */

.login__submit__button {
    margin-top: 10px;
}

.login__no__account__demo span {
    font-weight: bold;
    color: var(--tealTheme);
}

a.login__create__here:hover {
    color: var(--tealHover);
}

.login__create__here:visited {
    color: var(--tealTheme);
}

.login__create__here {
    font-size: 17px;
    color: var(--tealTheme);
    text-decoration: none;
    font-weight: bold;
}
